/* common styles */
* {
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

section {
    margin: 128px 0;
}

/* common description */
.common-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* common button */
.common-button {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    padding: 20px 43px;
    margin-top: 32px;
}

/* common heading */
.common-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

/* header styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-single-left-container {
    width: 708px;
}

.header-right-single-container>img {
    width: 635px;
    margin-top: 50px;
}

.header-main-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-description {
    width: 634px;
}

/* Features flower style */
.featured-flower-container {
    max-width: 1140px;
    margin: 0 auto;
}

.features-description {
    width: 594px;
    text-align: center;
    margin: 0 auto;
}

.flower-container {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-top: 48px;
}

.single-flower-container img {
    padding-top: 50px;
    border-radius: 300px 300px 0 0;
    height: 370px;
}

.pink-flower {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 0 55px 0 55px;
}

.red-flower {
    background-color: rgba(5, 151, 160, 0.15);
}

.yellow-flower {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 0 55px 0 55px;
}

.single-flower-container h3 {
    text-align: center;
    margin-top: 32px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;

}

/* delivery styles */
.support-container {
    max-width: 1140px;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 87px 0;
    text-align: center;
}

.delivery-details {
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}